In [1]:
import json
import requests
url=r"https://data.nasa.gov/resource/gh4g-9sfh.json"

resp=requests.get(url)
resp

In [2]:
str_data = resp.text
Meteorites = json.loads(str_data)

In [3]:
len(str_data)

242168

In [4]:
len(Meteorites)

1000

In [5]:
type(Meteorites)

list

In [6]:
Meteorites[0].keys()

dict_keys(['name', 'id', 'nametype', 'recclass', 'mass', 'fall', 'year', 'reclat', 'reclong', 'geolocation'])

In [7]:
Meteorites[1]['geolocation'].keys()

dict_keys(['latitude', 'longitude'])

In [8]:
#create empty lists for meteor details
MeteorID=[]
Year=[]
Fall=[]
Meteorname=[]
Nametype=[]
Mass=[]
Latitude=[]
Longitude=[]

In [9]:
Meteorites[0:5]

[{'name': 'Aachen',
  'id': '1',
  'nametype': 'Valid',
  'recclass': 'L5',
  'mass': '21',
  'fall': 'Fell',
  'year': '1880-01-01T00:00:00.000',
  'reclat': '50.775000',
  'reclong': '6.083330',
  'geolocation': {'latitude': '50.775', 'longitude': '6.08333'}},
 {'name': 'Aarhus',
  'id': '2',
  'nametype': 'Valid',
  'recclass': 'H6',
  'mass': '720',
  'fall': 'Fell',
  'year': '1951-01-01T00:00:00.000',
  'reclat': '56.183330',
  'reclong': '10.233330',
  'geolocation': {'latitude': '56.18333', 'longitude': '10.23333'}},
 {'name': 'Abee',
  'id': '6',
  'nametype': 'Valid',
  'recclass': 'EH4',
  'mass': '107000',
  'fall': 'Fell',
  'year': '1952-01-01T00:00:00.000',
  'reclat': '54.216670',
  'reclong': '-113.000000',
  'geolocation': {'latitude': '54.21667', 'longitude': '-113.0'}},
 {'name': 'Acapulco',
  'id': '10',
  'nametype': 'Valid',
  'recclass': 'Acapulcoite',
  'mass': '1914',
  'fall': 'Fell',
  'year': '1976-01-01T00:00:00.000',
  'reclat': '16.883330',
  'reclong': '-99.900000',
  'geolocation': {'latitude': '16.88333', 'longitude': '-99.9'}},
 {'name': 'Achiras',
  'id': '370',
  'nametype': 'Valid',
  'recclass': 'L6',
  'mass': '780',
  'fall': 'Fell',
  'year': '1902-01-01T00:00:00.000',
  'reclat': '-33.166670',
  'reclong': '-64.950000',
  'geolocation': {'latitude': '-33.16667', 'longitude': '-64.95'}}]

In [10]:
for Meteor in Meteorites:
    MeteorID.append(Meteor['id'])
    try: Year.append(Meteor['year'])
    except: Year.append(None)
    Meteorname.append(Meteor['name'])
    Nametype.append(Meteor['nametype'])
    try: Mass.append(Meteor['mass'])
    except: Mass.append(None)
    
    Fall.append(Meteor['fall'])
    try: Latitude.append(Meteor['geolocation']['latitude'])
    except: Latitude.append(None)
    try: Longitude.append(Meteor['geolocation']['longitude'])
    except: Longitude.append(None)

In [11]:
len(Meteorname)

1000

In [12]:
len(Fall)

1000

In [13]:
len(MeteorID)

1000

In [14]:
len(Year)

1000

In [15]:
print(len(Nametype))
print(len(Mass))
print(len(Latitude))
print(len(Longitude))

1000
1000
1000
1000

In [16]:
Meteordata = zip(MeteorID, Year, Fall, Meteorname, Nametype, Mass, Latitude, Longitude)
Colnames = ['ID','Year','Fall','Name','Type','Mass','Latitude','Longitude']
import pandas as pd
Meteordf = pd.DataFrame(Meteordata, columns=Colnames)

In [17]:
Colnames

['ID', 'Year', 'Fall', 'Name', 'Type', 'Mass', 'Latitude', 'Longitude']

In [18]:
Meteordf.head(10)

,ID,Year,Fall,Name,Type,Mass,Latitude,Longitude
0,1,1880-01-01T00:00:00.000,Fell,Aachen,Valid,21,50.775,6.08333
1,2,1951-01-01T00:00:00.000,Fell,Aarhus,Valid,720,56.18333,10.23333
2,6,1952-01-01T00:00:00.000,Fell,Abee,Valid,107000,54.21667,-113.0
3,10,1976-01-01T00:00:00.000,Fell,Acapulco,Valid,1914,16.88333,-99.9
4,370,1902-01-01T00:00:00.000,Fell,Achiras,Valid,780,-33.16667,-64.95
5,379,1919-01-01T00:00:00.000,Fell,Adhi Kot,Valid,4239,32.1,71.8
6,390,1949-01-01T00:00:00.000,Fell,Adzhi-Bogdo (stone),Valid,910,44.83333,95.16667
7,392,1814-01-01T00:00:00.000,Fell,Agen,Valid,30000,44.21667,0.61667
8,398,1930-01-01T00:00:00.000,Fell,Aguada,Valid,1620,-31.6,-65.23333
9,417,1920-01-01T00:00:00.000,Fell,Aguila Blanca,Valid,1440,-30.86667,-64.55

In [19]:
Meteordf.tail()

,ID,Year,Fall,Name,Type,Mass,Latitude,Longitude
995,24009,1934-01-01T00:00:00.000,Fell,Tirupati,Valid,230,13.63333,79.41667
996,54823,2011-01-01T00:00:00.000,Fell,Tissint,Valid,7000,29.48195,-7.61123
997,24011,1869-01-01T00:00:00.000,Fell,Tjabe,Valid,20000,-7.08333,111.53333
998,24012,1922-01-01T00:00:00.000,Fell,Tjerebon,Valid,16500,-6.66667,106.58333
999,24019,1905-01-01T00:00:00.000,Fell,Tomakovka,Valid,600,47.85,34.76667

In [20]:
Meteordf['Year'].max()

TypeError: '>=' not supported between instances of 'str' and 'float'

In [21]:
Meteordf['Year'][0:10][0:4]

0    1880-01-01T00:00:00.000
1    1951-01-01T00:00:00.000
2    1952-01-01T00:00:00.000
3    1976-01-01T00:00:00.000
Name: Year, dtype: object

In [22]:
Meteordf['Year'] = pd.to_datetime(Meteordf['Year'])

OutOfBoundsDatetime: Out of bounds nanosecond timestamp: 1583-01-01 00:00:00

In [23]:
pd.to_datetime(Meteordf['Year'][0])

Timestamp('1880-01-01 00:00:00')